<h1>My cool app</h1>
<p>Tons of features! Such features include:</p>
<ul>
	<li>Hosting of repositories!</li>
	<li>Demos! Docs for your favourite projects!</li>
	<li>And many more!</li>
</ul>

<h2>Pricings</h2>
<div class="pricing-options">
	<mat-card class="pricing-options-card">
		<mat-card-title>Open source</mat-card-title>
		<mat-card-content>
			<ul>
				<li>15GB storage</li>
				<li>Beta access to new features!</li>
			</ul>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="accent">Select this plan</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="pricing-options-card">
    <mat-card-title>Personal</mat-card-title>
    <mat-card-content>
      <ul>
        <li><strong>30GB</strong> storage</li>
        <li>Beta access to new features!</li>
        <li><strong>24/7 tech support</strong></li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [style.margin-bottom]="'5px'">Select this plan ($30/year) (Save 50%!)</button>
      <br>
      <button mat-stroked-button color="accent">Select this plan ($5/month)</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="pricing-options-card">
    <mat-card-title>Business</mat-card-title>
    <mat-card-content>
      <ul>
        <li><strong>45GB</strong> storage</li>
        <li>Beta access to new features!</li>
        <li>24/7 tech support</li>
        <li><strong>Exclusive memberships</strong></li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [style.margin-bottom]="'5px'">Select this plan ($200/year) (Save 66%!)</button>
      <br>
      <button mat-stroked-button color="accent">Select this plan ($25/month)</button>
    </mat-card-actions>
  </mat-card>
</div>